!!! 5
%html
  %head
    %meta{ charset: "utf-8" }
    %title<
      &= @title
    %link{ href: url("/stylesheets/isoworks.css"), rel: "stylesheet" }
    = prev_link(photo: @photo, list: @list, tag: @tag, collection: @collection)
    = next_link(photo: @photo, list: @list, tag: @tag, collection: @collection)
    = up_link(photo: @photo, list: @list, tag: @tag, collection: @collection)
    = prefetch_and_prerender_for(photo: @photo, list: @list)
    %script{ type: "text/javascript", src: "/javascripts/tag_manager.js" }
    %script{ type: "text/javascript", src: "/javascripts/keyboard_navigator.js" }
    %script{ type: "text/javascript", src: "/javascripts/delete_form.js" }

  %body
    %article
      %header
        %a{ href: url("/") }
          ISOworks
        .filter
          = filter_title(tag: @tag, collection: @collection)
      %nav#primaryNav
        %ul
          %li{ class: ("selected" if @selected == :all) }
            %a{ href: url("/") }
              All photos
          %li{ class: ("selected" if @selected == :tags) }
            %a{ href: url("/tags") }
              Tags
          %li{ class: ("selected" if @selected == :collections) }
            %a{ href: url("/collections") }
              Collections
          %li
            %a{ href: url("/import") }
              Import

      = yield
      %footer
        %a{ href: "https://github.com/Spakman/isoworks" }<
          ISOworks
        is free software.
