%section
  .photo
    %h1<
      &= @photo.title

    %img{ src: url(large_photo_path(@photo)), alt: @photo.title }
    = paragraphize(@photo.description)

%aside
  %h2
    = list_title(@tag)
  = navigator(@photo, @list)

  %h2
    Tags
  = tag_list(@photo)
