%section
  .photo
    = image_srcset(@photo)
    = paragraphize(@photo.description)

.navigator
  = navigator(@photo, @list)

%aside
  %h2
    Tags
  %hr
  = tags(@photo)
  %form#addTag(action="/#{@photo.uuid}/add_tag" method="post")
    %input{ type: "text", id: "tag", name: "tag", autofocus: "autofocus" }
    %input{ type: "image", id: "tagSubmit", src: "/images/submit.png" }

  .collections
    %h2
      Collections
    %hr

    %input{ type: "image", id: "showAddCollection", src: "/images/add.png" }

    %form{ id: "addCollection", action: "/#{@photo.uuid}/add_collection", method: "post" }
      %input{ type: "text", id: "collection", name: "collection" }
      %input{ type: "image", id: "addCollectionSubmit", src: "/images/submit.png" }
      %input{ type: "image", id: "cancelAddCollection", src: "/images/cancel.png" }

    = collections(@photo)

  .metadata
    %h2
      Metadata
    %hr

    %dl
      %dt
        Taken:
      %dd
        = format_date(@photo.taken_at)
      %dt
        Camera:
      %dd
        = @photo.camera || "Unknown"
      %dt
        F-stop:
      %dd
        = @photo.f_stop || "Unknown"
      %dt
        Exposure:
      %dd
        = @photo.exposure || "Unknown"
      %dt
        Size:
      %dd
        = size(@photo)
      %dt
        Added:
      %dd
        = format_date(@photo.added_at)
      %dt
        UUID:
      %dd
        = @photo.uuid

  %a{ id: "fullSize", href: photo_path_original(@photo) }
    %img{ src: "/images/full_size.png" }

  %input{ type: "image", id: "fakeDelete", src: "/images/delete.png" }

  %form{ id: "delete", action: "#{request.fullpath}/delete", method: "post" }
    %input{ type: "button", id: "cancelDelete", value: "Cancel" }
    %input{ type: "submit", id: "deleteSubmit", value: "Delete" }
